
{{#partial "contenido"}}
	<script>
	$(document).ready(function(){
	
		$("#verMas").hide();
		});
	function myFunctionA() {
	var nombre;
	var tipo;
	if (document.getElementById('nombreF').value == "" || document.getElementById('tipoF').value == "")
	{
		 $.ajax({
    url: '/buscar_pois',
    type: 'GET',
    success: function(result) {
    }
});
$("#verMas").show(1000);
	}
	else{
	nombre = document.getElementById('nombreF').value;
	tipo = document.getElementById('tipoF').value;
	 $.ajax({
    url: '/buscar_pois/'+nombre+'/'+tipo,
    type: 'GET',
    success: function(result) {
    }
});
$("#verMas").show(1000);
	}
	}
</script>


<a href="/nuevo_poi">
		<img src="img/WhatsApp Image 2016-12-20 at 00.11.54 (1).jpeg" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<t class="login_text" style="color:#454545;"><strong>Agregar un POI</strong></t>

<form>
		<p class="login_text" style="color:#454545; margin-right:370px "><center><strong>Ingrese el nombre del POI:</strong>
		<input type="text" style="border-radius:5px;" id="nombreF" name="nombreFiltro">
		<strong>Ingrese el tipo de POI:</strong>
		<select style="width:60px; height:20px;" id="tipoF" name="tipoFiltro">
		  <option value="">-</option>
		  <option value="banco">Banco</option>
		  <option value="cgp">CGP</option>
		  <option value="colectivo">Colectivo</option>
		  <option value="local">Local</option>
		  </select>
		  
		<input type="button" onClick="myFunctionA()" class="btn_Detalles" value="Buscar"></center></p>
		</form>
	
	<table>
	 <td >
	<div style="overflow-y: auto; max-height: 500px">
	{{#listadoPOIs}}
	 <hr>
	  <div style="margin-bottom: 5px;">
	  <center>
	  
	  <table>
	   <tr>
	   <td>
	   <t class="login_text">Nombre:</t><br>
	   </td>
	   <td><t class="login_text">{{nombre}}</t></td>	    
	   </tr>
	   <tr>
	   <td>
		<t class="login_text">Direccion:</t><br></td>
		   <td><t class="login_text">{{point.domicilio.callePrincipal}} {{point.domicilio.altura}}</t></td>
		   </tr>
	   </table>	
	   <a href="/masDetallePoi?id={{id}}">
		<img src="img/WhatsApp Image 2016-12-20 at 00.11.54 (1).jpeg" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<a href="/editar_poi?id={{id}}">
		<img src="img/WhatsApp Image 2016-12-20 at 00.11.54 (2).jpeg" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<a onClick="myFunction({{id}})"><img src="img/WhatsApp Image 2016-12-20 at 00.11.55 (1).jpeg" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		</center>
		</div>
		<hr>
	{{/listadoPOIs}}
	  </div>  
		</td>
	<td style="width: 50% ">    
	<div id="map" style="height: 500px; width: 500px;"></div>
	</td>
	</table>
	<input type="button" id="verMas" style="background: linear-gradient(to bottom,#FBAB00,#ffd300); background-repeat:no-repeat; border-radius:10px; font-family: 'Raleway', Arial, sans-serif; font-weight:bold; color: #454545; text-align:center; 
	margin-left: 400px; height:25px; margin-bottom:50px"
	value="Ver Mas"> <br>
	<script>
	function myFunction(id) {
     if(confirm("Desea eliminar el poi")==true)
		 {
			 $.ajax({
    url: '/borrar_poi?id='+id,
    type: 'DELETE',
    success: function(result) {
    }
});
			 }
}	
	function initMap() {
        

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.6130556, lng: -58.377222222 },
          scrollwheel: false,
          zoom: 11
        });        
        {{#listadoPOIs}}
        var marker = new google.maps.Marker({
          map: map,
          position: {lat: {{point.latitud}} , lng: {{point.longitud}} },
          tittle: '{{nombre}}'
        });
       	{{/listadoPOIs}}
      }

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
			async defer></script>
			{{/partial}}
				
{{#partial "titulo"}}Administrador De Pois{{/partial}}
{{> layoutAdmin.hbs }}