
{{#partial "contenido"}}
<style>
.hoovereable:hover {
    background-color:#F5F5F5;
}
	
</style>
<a href="/nuevo_poi" style="text-decoration: none">
		<img src="img/nuevo_poi.png" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/>
		<t class="login_text"><strong>Agregar un POI</strong></t></a>
<form action="/buscar_pois">
		<p class="login_text" style="color:#454545;"><strong>Nombre:</strong>
		<input type="text"	 style="border-radius:5px; widht=600px" id="nombreF" placeholder=" &iquest;Como llama el POI?" name="nombreFiltro">
		<strong>Tipo:</strong>
		<select style="width:100px; height:20px;margin-right:30px" id="tipoF" name="tipoFiltro">
		  <option value="">-</option>
		  <option value="banco">Banco</option>
		  <option value="cgp">CGP</option>
		  <option value="colectivo">Colectivo</option>
		  <option value="local">Local</option>
		  </select>
		  <input type="submit" class="btn_Detalles" value="Buscar" onclick="funcioncita()"></center></p>
		</form>
	<center>
	<table style ="padding-top:5px">
	 <td>
	<div style="overflow-y: auto; max-height: 500px; min-height: 500px;">
	<script>
	function funcioncita() {
    var x = document.getElementById('loader');
    if (x.style.display === 'none') {
        x.style.display = 'block';
}}
</script>
	{{#unless listadoPOIs}}<center><div id="loader" class="loader" style="display:none;margin-top:100"></div></center>{{/unless}}
	{{#listadoPOIs}}
	  <div id="{{id}}" class="hoovereable" style="height:150px">
	  <table>
	   <tr>
	   <td colspan="2" style="padding-top:30px">
	   <t class="login_text" id="vermas" style=" font-font-weight:300;font-size:25px">{{nombre}}</t></td>	    
	   </tr>
	   <tr>
	   <td></td>
		   <td><img src="img/localizacion.png" height="15px" style= "margin-bottom:-2px;margin-left: 10px;margin-right:5px"/><t class="login_text" style="color:#888;">{{point.domicilio.callePrincipal}} {{point.domicilio.altura}}</t></td>
		   </tr>
	   </table>	
	   <center>
	   <a href="/masDetallePoi?id={{id}}">
		<img src="img/ver_mas.png" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<a href="/editar_poi?id={{id}}">
		<img src="img/editar.png" height="30px" style="cursor: pointer;margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<a onclick="myFunction({{id}})"><img src="img/borrar.png" height="30px" style="cursor: pointer;margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		</center>
		</div>
	{{/listadoPOIs}}
	  </div>  
		</td>
	<td style="width: 50%">    
	<div id="map" style="height: 500px; width: 1000px;"></div>
	</td>
	</table></center>
	<script>
	function myFunction(id) {
     if(confirm("Desea eliminar el poi")==true)
		 {
			 $.ajax({
    url: '/borrar_poi?id='+id,
    type: 'DELETE'
});
			 }
}	
	function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.6130556, lng: -58.377222222 },
          scrollwheel: false,
          zoom: 12
        });        
        {{#listadoPOIs}}
        var contentString{{id}} = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading" style="font-size:15px">{{nombre}}</h1>'+
      '</div>';
        
        var marker{{id}} = new google.maps.Marker({
          map: map,
          position: {lat: {{point.latitud}} , lng: {{point.longitud}} }
        });
        var infowindow{{id}} = new google.maps.InfoWindow({
    content: contentString{{id}}
  });
	marker{{id}}.addListener('click', function() {
    infowindow{{id}}.open(map, marker{{id}});
  });
    marker{{id}}.addListener('click', function() {
    infowindow{{id}}.open(map, marker{{id}});
  });
  $('#{{id}}').on('click',function() {
     infowindow{{id}}.open(map, marker{{id}});
	});    
       	{{/listadoPOIs}}
      }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
			async defer></script>
			{{/partial}}
				
{{#partial "titulo"}}Administrador de POIS{{/partial}}
{{#partial "imagen"}}img/Planetario_Galileo_Galilei_(3022933477).jpg{{/partial}}
{{> layoutAdmin.hbs }}