{{#partial "contenido"}}


<center><table width="700" border="0" style="margin-top:200px">
  <tbody >
  <form action="buscar_terminales">
  <tr>
<td style="text-align:right">
<t class="login_text" style= "margin-bottom:30px;font-size:16px; margin-right:45px"><strong>Ingrese terminal:</strong></t></td>
<td><input type="text" style="border-radius:5px;
	width:177px; height:20px; margin-right: 10px; margin-left:10px" name="nombre"></td>
	<td rowspan="2"><input type="submit" class="btn_Detalles"	 value="Buscar"></td>
</tr>
<tr>
<td style="text-align:right; margin-top:50px"><t class="login_text" style="font-size:16px;margin-top:10px; margin-right:50px"><strong>Ingrese  comuna:</strong></t></td>
<td><input type="number" min ="0" style= "border-radius:5px;height:20px;margin-left:10px;width:177px; " name="comuna"></td>
</tr>
</form>
  <tr>
  <td></td>
<td ><a href="/editar_terminal" style="text-decoration: none; margin-bottom:1000000px">
		<img src="img/ver_mas.png" height="30px" style="margin-top: 10px; margin-left: 10px;"/><t class="login_text" style="color:#454545;"><strong>Agregar terminal</strong></t></a></td>
		<td></td>  
  </tr> 
    <tr >
	      <td style="padding-top: 40px;"><p class="historial_tabla" style=" height:40px; width:150px;"><t> Terminal</t></p></td>
      <td style="padding-top: 40px;"><p class="historial_tabla" style=" height:40px; width:150px;"> Posicion</p></td>
      <td style="padding-top: 40px;"><p class="historial_tabla" style=" height:40px; width:150px;"> Comuna</p></td>
    </tr>
    {{#terminales}}
    <tr>
    
    <td><p class=" historial_tabla_textos">{{nombre}}</p></td>
    <td><p class=" historial_tabla_textos"> Lat: {{point.latitud}}<br> Long: {{point.longitud}}</p></td>
    <td><p class=" historial_tabla_textos"> {{point.domicilio.comuna}}</p></td>
    <td>
		<a href="/editar_terminal?nombre={{nombre}}">
		<img src="img/editar.png" height="30px" style="cursor:pointer;margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<img src="img/borrar.png" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;cursor: pointer;" onclick="	
		
		if(confirm('Desea eliminar la terminal {{nombre}}')==true){
		$.ajax({
    url: '/borrar_terminal?nombre={{nombre}}',
    type: 'DELETE',
     success: function(data, textStatus) {
            window.location.href = data.redirect;
            }
});}"> 
		
</td>

    </tr>
    {{/terminales}}
  </tbody>
</table>
	</center>
  {{/partial}}
{{#partial "titulo"}} Administrar Terminales{{/partial}}
{{#partial "imagen"}}img/diagonal.jpg{{/partial}}
{{> layoutAdmin.hbs}}