{{#partial "contenido"}}

<br>
<br>
<t class="titulo_secundario" ><strong>Datos Principales:</strong></t><br>
    <form action="/cambiar_poi">
    {{#poi}}
    <p style="margin-left:500px; font-size:20px"> <strong> Nuevo Nombre: </strong> <input type="text" value="{{nombre}}" name="nombre"></p>
   
  <p style="margin-left:500px; font-size:20px"> <strong> Nuevo Tipo: </strong> 
		<select value="{{tipo}}" style="margin-left:110px;width:205px;margin-right:30px" id="tipoF" name="tipoFiltro" required>
		  <option value="">-</option>
		  <option value="banco">Banco</option>
		  <option value="cgp">CGP</option>
		  <option value="colectivo">Colectivo</option>
		  <option value="local">Local</option>
		  </select>
	</p>   	
 
    {{#if linea}}
         <p style="margin-left:500px; font-size:20px"> <strong> Nuevo Linea: </strong><input type="text" value="{{linea}}" name="linea"></p>
    {{/if}}
    
  {{#if rubro}}
  <p style="margin-left:500px; font-size:20px"> <strong> Nuevo Rubro: </strong><input type="text" value="{{rubro}}" name="rubro"></p>
	{{/if}}
	
  <center><hr style="width:90%; height:2px; background-color:#e5e5e5; "></center>
    <t class="titulo_secundario"><strong>Lista de feriados:</strong></t><br>
	<p style="margin-left:500px; font-size:20px"> <strong> Nuevo Feriado: </strong>
	<input type="number" min="1" max="31" placeholder="Dia" name="dia_feriado_nuevo" style="width:60px"> / 
	<input type="number"   min="1" max="12" placeholder="Mes" name="mes_feriado_nuevo" style="width:60px">
	<button  type="button" class="btn_Detalles" id="btn_feriados" onclick="agregar()">Agregar feriado</button></p>
  <script> 
function mesString(mes){
switch (mes){
case "1": 
	return "Enero";
	break;
	case "2": 
	return "Febrero";
	break;
	case "3": 
	return "Marzo";
	break;
	case "4": 
	return "Abril";
	break;
	case "5": 
	return "Mayo";
	break;
	case "6": 
	return "Junio";
	break;
	case "7": 
	return "Julio";
	break;
	case "8": 
	return "Agosto";
	break;
	case "9": 
	return "Septiembre";
	break;
	case "10": 
	return "Octubre";
	break;
	case "11": 
	return "Noviembre";
	break;
	case "12": 
	return "Diciembre";
	break;

}
};
function agregar(){
        $("#feriados").append("<p style=\"margin-left:500px; font-size:20px\"><output name=\"feriados\" value=\""+ document.getElementsByName('dia_feriado_nuevo')[0].value +" / "+document.getElementsByName('mes_feriado_nuevo')[0].value +"\" style=\"margin-top:30px; border-radius:5px\"> "+ document.getElementsByName('dia_feriado_nuevo')[0].value+ "  de "+  mesString(document.getElementsByName('mes_feriado_nuevo')[0].value)+"</p>");
    };
</script>

<div id="feriados">
  {{#feriados}}  
	<p style="margin-left:500px; font-size:20px"> <output name="feriados" value="{{dia}}/{{mes}}" style="margin-top:30px; border-radius:5px"> {{dia}} de {{mesString}} </p>
  {{/feriados}}
</div>

  {{#unless servicios}}
  <center><hr style="width:90%; height:2px; background-color:#e5e5e5; "></center>
    <t class="titulo_secundario"><strong>Horarios:</strong></t><br>
    <table style="width:600px;margin-left:500px">
    <tr>
    	<td> </td>
    	<td style="width:190px"><input type="checkbox" name="dias" value="lunes" {{#if horario.agenda.tengoUnLunes}}checked{{/if}}>Lunes</td>
    	<td style="width:100px"><input type="time" name="desde_lunes" value="{{horario.agenda.desdeLunes}}"></td>
    	<td><input type="time" name="hasta_lunes" value="{{horario.agenda.hastaLunes}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="martes" {{#if horario.agenda.tengoUnMartes}}checked{{/if}}> Martes</td>
    	<td><input type="time" name="desde_martes" value="{{horario.agenda.desdeMartes}}"></td>
    	<td><input type="time" name="hasta_martes" value="{{horario.agenda.hastaMartes}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="miercoles" {{#if horario.agenda.tengoUnMiercoles}} checked{{/if}}> Miercoles</td>
      	<td><input type="time" name="desde_miercoles" value="{{horario.agenda.desdeMiercoles}}"></td>
      	<td><input type="time" name="hasta_miercoles" value="{{horario.agenda.hastaMiercoles}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="jueves" {{#if horario.agenda.tengoUnJueves}} checked{{/if}}> Jueves</td>
    	<td><input type="time" name="desde_jueves" value="{{horario.agenda.desdeJueves}}"></td>
    	<td><input type="time" name="hasta_jueves" value="{{horario.agenda.hastaJueves}}"></td>
    </tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="viernes" {{#if horario.agenda.tengoUnViernes}} checked{{/if}}> Viernes </td>
    	<td><input type="time" name="desde_viernes" value="{{horario.agenda.desdeViernes}}"></td>
    	<td><input type="time" name="hasta_viernes" value="{{horario.agenda.hastaViernes}}"></td>
	</tr>
    <tr>
    	<td></td>
    	<td><input type="checkbox" name="dias" value="sabado" {{#if horario.agenda.tengoUnSabado}} checked{{/if}}> Sabado</td>
      	<td><input type="time" name="desde_sabado" value="{{horario.agenda.desdeSabado}}"></td>
      	<td><input type="time" name="hasta_sabado" value="{{horario.agenda.hastaSabado}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="domingo" {{#if horario.agenda.tengoUnDomingo}} checked{{/if}}> Domingo</td>
    	<td><input type="time" name="desde_domingo" value="{{horario.agenda.desdeDomingo}}"></td>
    	<td><input type="time" name="hasta_domingo" value="{{horario.agenda.hastaDomingo}}"></td>
      </tr>
      </table>
      {{/unless}}
      
      {{#each servicios in poi}}
      <table>
     <tr>
    <td><p class=" historial_tabla_textos"><strong>Nuevo Horario para el servicio: {{nombre}} </strong></strong></p></td> <td> </td> <td>Horario Desde:</td> <td>Horario Hasta:</td>
    </tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="lunes" {{#if horario.agenda.tengoUnLunes}}checked{{/if}}>Lunes</td>
    	<td><input type="time" name="desde_lunes" value="{{horario.agenda.desdeLunes}}"></td>
    	<td><input type="time" name="hasta_lunes" value="{{horario.agenda.hastaLunes}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="martes" {{#if horario.agenda.tengoUnMartes}}checked{{/if}}> Martes</td>
    	<td><input type="time" name="desde_martes" value="{{horario.agenda.desdeMartes}}"></td>
    	<td><input type="time" name="hasta_martes" value="{{horario.agenda.hastaMartes}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="miercoles" {{#if horario.agenda.tengoUnMiercoles}} checked{{/if}}> Miercoles</td>
      	<td><input type="time" name="desde_miercoles" value="{{horario.agenda.desdeMiercoles}}"></td>
      	<td><input type="time" name="hasta_miercoles" value="{{horario.agenda.hastaMiercoles}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="jueves" {{#if horario.agenda.tengoUnJueves}} checked{{/if}}> Jueves</td>
    	<td><input type="time" name="desde_jueves" value="{{horario.agenda.desdeJueves}}"></td>
    	<td><input type="time" name="hasta_jueves" value="{{horario.agenda.hastaJueves}}"></td>
    </tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="viernes" {{#if horario.agenda.tengoUnViernes}} checked{{/if}}> Viernes </td>
    	<td><input type="time" name="desde_viernes" value="{{horario.agenda.desdeViernes}}"></td>
    	<td><input type="time" name="hasta_viernes" value="{{horario.agenda.hastaViernes}}"></td>
	</tr>
    <tr>
    	<td></td>
    	<td><input type="checkbox" name="dias" value="sabado" {{#if horario.agenda.tengoUnSabado}} checked{{/if}}> Sabado</td>
      	<td><input type="time" name="desde_sabado" value="{{horario.agenda.desdeSabado}}"></td>
      	<td><input type="time" name="hasta_sabado" value="{{horario.agenda.hastaSabado}}"></td>
	</tr>
    <tr>
    	<td> </td>
    	<td><input type="checkbox" name="dias" value="domingo" {{#if horario.agenda.tengoUnDomingo}} checked{{/if}}> Domingo</td>
    	<td><input type="time" name="desde_domingo" value="{{horario.agenda.desdeDomingo}}"></td>
    	<td><input type="time" name="hasta_domingo" value="{{horario.agenda.hastaDomingo}}"></td>
      </tr>
      </table>
     {{/each}}
    </center>
    
    <center><hr style="width:90%; height:2px; background-color:#e5e5e5; "></center>
    <t class="titulo_secundario"><strong>Direcci&oacuten:</strong></t><br>

 <table style="width:600px;text-align:right; margin-left:300px">
 <tr>
 <td>
 <t style="font-size:20px"> <strong> Calle Principal:</strong></t>
 </td>
 <td>  
 <input type="text"  value="{{point.domicilio.callePrincipal}}" name="calle_principal"></td>
 </tr>
 <tr>
    <td><p style="font-size:20px"> <strong> Entre calles:</strong></p>  
    </td>
    <td><input type="text" value="{{point.domicilio.entreCalles}}" name="entre_calles" ></td>
    </tr>
    
    <tr>
    <td><p style="font-size:20px"> <strong> Altura:</strong>  </p> </td>
    <td><input type="text" value="{{point.domicilio.altura}}" name="altura"></td>
    </tr>
   	<tr>
   	<td><p style="font-size:20px"> <strong> Piso:</strong> </p></td>
   	<td><input type="text" value="{{point.domicilio.piso}}" name="piso"></td>
 	</tr>
 	<tr>
 	<td><p style="font-size:20px"> <strong> Unidad:</strong></td>
 	<td><input type="text" value="{{point.domicilio.unidad}}" name="unidad"></td>
 	</tr>
 	<tr>
 	<td><p style="font-size:20px"> <strong> Codigo postal:</strong></p></td>
 	<td><input type="text" value="{{point.domicilio.codigoPostal}}" name="codigo_postal"></td>
 	</tr>
 	<tr>
    <td><p style="font-size:20px"> <strong> Numero de comuna:</strong></p></td>
    <td><input type="number" min="1" value="{{point.domicilio.comuna}}" name="comuna"></td>
    </tr>
    <tr>
    <td><p style="font-size:20px"> <strong> Ciudad:</strong></p></td>
    <td><input type="text" value="{{point.localidad.ciudad}}" name="ciudad"></p></td>
    </tr>
    <tr>
    <td><p style="font-size:20px"> <strong> Provincia:</strong></p></td>
    <td><input type="text" value="{{point.localidad.provincia}}" name="provincia"></p></td>
    </tr>
    <tr>
    <td><p style=" font-size:20px"> <strong> Pais:</strong></p>
    <td>  <input type="text" value="{{point.localidad.pais}}" name="pais"></td>
    </tr>
       </table>
	
	
 <center><hr style="width:90%; height:2px; background-color:#e5e5e5; "></center>
    <t class="titulo_secundario"><strong>Geolocalizaci&oacute;n:</strong></t><br>
	
	 
	 <center>
	 <table>
	 <tr>
	 <td>
	 <form>
 <center><p style=" font-size:20px"> <strong> Nuevas coordenadas:</strong></p></center>
    <input id="lng" type="number" value="{{point.longitud}}" name="latitud">
    <input type="number" id="lat" value="{{point.latitud}}" name="lng"><br>
    <center><button type="button" class="btn_Detalles" onclick="setNewCenter(document.getElementById('lat').value,document.getElementById('lng').value)"> Ver</button>
    <input type="reset" class="btn_Detalles"></center>
    </form>
    </td>
    <td>
    <div id="map" style="height: 300px; width: 300px;"></div></td>
    </tr>
    </table>
    </center>
       {{/poi}}

    <br>
    <center>
    <input type="submit" class="btn_Detalles" value= "Aceptar">
	<button type="button" class="btn_Detalles" style="margin-left: 130px" onclick="goBack()"> Cancelar </button></form></center>

<script>
function setNewCenter(lat,lng){
   var center = new google.maps.LatLng(lat,lng);
    map.panTo(center);
}
var map;
	function initMap() {
	 map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.6130556, lng: -58.377222222 },
          scrollwheel: true,
          zoom: 10
        });
        {{#poi}}
        var marker = new google.maps.Marker({
          map: map,
          position: {lat: {{point.latitud}}, lng: {{point.longitud}} },
        });
        {{/poi}}
      }
    	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
			async defer>
			</script>
{{/partial}}
{{#partial "titulo"}}Edici&oacute;n de POI: {{#poi}}{{nombre}}{{/poi}}{{/partial}}
{{#partial "imagen"}}img/Planetario_Galileo_Galilei_(3022933477).jpg{{/partial}}
{{> layoutAdmin.hbs }}
