<!doctype html>
<html>
<head>
<link href= "frank.css" rel="stylesheet" type= "text/css">
 <script src="Frank.js"></script>
<meta charset="utf-8">

<title>Edicion de POI</title>
</head>
<header class="header"><br><br>
<p id="h1"> Editar POI</p>
</header>
<body>
<center><table style="margin-top: 70px;">
  <tbody >
    {{#poi}}
    <tr>
    <td><p class=" historial_tabla_textos"> Nuevo nombre:</p></td>
    <td>
    	<input type="text" values="{{nombre}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Nueva direcci&oacute;n:</p></td>
    </tr>
     <tr>
    <td><p class=" historial_tabla_textos"> Calle Principal:</p></td>
    <td>
    	<input type="text" values="{{callePrincipal}}">
    </td>
    </tr>
   
    <tr>
    <td><p class=" historial_tabla_textos"> Entre calles:</p></td>
    <td>
    	<input type="text" values="{{entreCalles}}">
    </td>
    </tr>
   
    <tr>
    <td><p class=" historial_tabla_textos"> Altura:</p></td>
    <td>
    	<input type="text" values="{{altura}}">
    </td>
    </tr>
   
    <tr>
    <td><p class=" historial_tabla_textos"> Piso:</p></td>
    <td>
    	<input type="text" values="{{piso}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Unidad:</p></td>
    <td>
    	<input type="text" values="{{unidad}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Codigo postal:</p></td>
    <td>
    	<input type="text" values="{{codigoPostal}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Numero de comuna:</p></td>
    <td>
    	<input type="number" min="1" values="{{comuna}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Ciudad:</p></td>
    <td>
    	<input type="text" values="{{ciudad}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Provincia:</p></td>
    <td>
    	<input type="text" values="{{provincia}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Pais:</p></td>
    <td>
    	<input type="text" values="{{pais}}">
    </td>
    </tr>
	{{/poi}}
    
    <tr>
    <td><p class=" historial_tabla_textos"> Nuevas coordenadas:</p></td>
    <td>
		<div id="map" style="height: 300px; width: 300px;"></div>
	</td>
	<script>
	function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 3
        });
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Hello World!'
        });
      }
	
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
			async defer></script>

    </td>
    </tr> 
    
     </tbody>
</table>
	</center>
    <br>
    <center>
    <button type="button" class="btn_Detalles" > Aceptar </button>
    <button type="button" class="btn_Detalles" style="margin-left: 130px"> Cancelar </button></center>		

</body>
</html>
