

{{#partial "contenido"}}
<center><table style="margin-top: 70px;">
  <tbody >
    {{#poi}}
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Nuevo nombre:</p></td>
    <td>
    	<input type="text" value="{{nombre}}">
    </td>
    </tr>
    <tr>
    <td><p class="historial_tabla_textos"> <strong> Nuevo Tipo: </strong></p></td>
    <td>
		<select style="width:205px;margin-right:30px" id="tipoF" name="tipoFiltro" required>
		  <option value="">-</option>
		  <option value="banco">Banco</option>
		  <option value="cgp">CGP</option>
		  <option value="colectivo">Colectivo</option>
		  <option value="local">Local</option>
		  </select>
	</td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"><strong>Nuevo Horario: </strong></strong></p></td> <td> </td> <td>Horario Desde:</td> <td>Horario Hasta:</td>
    </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnLunes}} <input type="checkbox" name="dias" value="lunes" checked>Lunes<br> {{else}} <input type="checkbox" name="dias" value="lunes">Lunes<br> {{/if}}
      <td><input type="time" name="desde_lunes" value="{{horario.agenda.desdeLunes}}"> </td> <td><input type="time" name="hasta_lunes" value="{{horario.agenda.hastaLunes}}"></td> </td></td>  </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnMartes}} <input type="checkbox" name="dias" value="martes" checked> Martes<br> {{else}} <input type="checkbox" name="dias" value="martes"> Martes<br> {{/if}}
      <td><input type="time" name="desde_martes" value="{{horario.agenda.desdeMartes}}"></td> <td><input type="time" name="hasta_martes" value="{{horario.agenda.hastaMartes}}"></td> </td></td> </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnMiercoles}} <input type="checkbox" name="dias" value="miercoles" checked> Miercoles<br> {{else}} <input type="checkbox" name="dias" value="miercoles">Miercoles <br> {{/if}}
      <td><input type="time" name="desde_miercoles" value="{{horario.agenda.desdeMiercoles}}"></td> <td><input type="time" name="hasta_miercoles" value="{{horario.agenda.hastaMiercoles}}"></td> </td></td> </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnJueves}} <input type="checkbox" name="dias" value="jueves" checked> Jueves<br> {{else}}  <input type="checkbox" name="dias" value="jueves"> Jueves<br> {{/if}}
      <td><input type="time" name="desde_jueves" value="{{horario.agenda.desdeJueves}}"></td> <td><input type="time" name="hasta_jueves" value="{{horario.agenda.hastaJueves}}"></td> </td></td> </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnViernes}} <input type="checkbox" name="dias" value="viernes" checked> Viernes<br> {{else}} <input type="checkbox" name="dias" value="viernes"> Viernes<br> {{/if}}
      <td><input type="time" name="desde_viernes" value="{{horario.agenda.desdeViernes}}"></td> <td><input type="time" name="hasta_viernes" value="{{horario.agenda.hastaViernes}}"></td> </td></td> </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnSabado}} <input type="checkbox" name="dias" value="sabado" checked> Sabado<br> {{else}} <input type="checkbox" name="dias" value="sabado"> Sabado<br> {{/if}}
      <td><input type="time" name="desde_sabado" value="{{horario.agenda.desdeSabado}}"></td> <td><input type="time" name="hasta_sabado" value="{{horario.agenda.hastaSabado}}"></td> </td></td> </tr>
    <tr> <td> <td> {{#if horario.agenda.tengoUnDomingo}} <input type="checkbox" name="dias" value="domingo" checked> Domingo<br> {{else}}  <input type="checkbox" name="dias" value="domingo" > Domingo<br> {{/if}}
      <td><input type="time" name="desde_domingo" value="{{horario.agenda.desdeDomingo}}"></td> <td><input type="time" name="hasta_domingo" value="{{horario.agenda.hastaDomingo}}"></td> </td></td> </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Nueva direcci&oacute;n:</strong></p></td>
    </tr>
     <tr>
    <td><p class=" historial_tabla_textos"> <strong> Calle Principal:</strong></p></td>
    <td>
    	<input type="text" value="{{point.domicilio.callePrincipal}}">
    </td>
    </tr>

    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Entre calles:</strong></p></td>
    <td>
    	<input type="text" value="{{point.domicilio.entreCalles}}">
    </td>
    </tr>

    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Altura:</strong></p></td>
    <td>
    	<input type="text" value="{{point.domicilio.altura}}">
    </td>
    </tr>

    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Piso:</strong></p></td>
    <td>
    	<input type="text" value="{{point.domicilio.piso}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Unidad:</strong></p></td>
    <td>
    	<input type="text" value="{{point.domicilio.unidad}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Codigo postal:</strong></p></td>
    <td>
    	<input type="text" value="{{point.domicilio.codigoPostal}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Numero de comuna:</strong></p></td>
    <td>
    	<input type="number" min="1" value="{{point.domicilio.comuna}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Ciudad:</strong></p></td>
    <td>
    	<input type="text" value="{{point.localidad.ciudad}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Provincia:</strong></p></td>
    <td>
    	<input type="text" value="{{point.localidad.provincia}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Pais:</strong></p></td>
    <td>
    	<input type="text" value="{{point.localidad.pais}}">
    </td>
    </tr>



    <tr>
    <form>
    <td><p class=" historial_tabla_textos"> <strong> Nuevas coordenadas:</strong></p></td>
    <td><input id="lng" type="number" value="{{point.longitud}}">
    <input type="number" id="lat" value="{{point.latitud}}"><br>
    <center><button type="button" class="btn_Detalles" onclick="setNewCenter(document.getElementById('lat').value,document.getElementById('lng').value)"> Ver</button>
    <input type="reset" class="btn_Detalles"></center></td>
    </form>
    {{/poi}}

    <td>
		<div id="map" style="height: 300px; width: 300px;"></div>
	</td>

    </td>
    </tr>

     </tbody>
</table>
	</center>
    <br>
    <center>
	<form action="/cambiar_poi" method="get">
    <input type="submit" class="btn_Detalles" value= "Aceptar">
	<button type="button" class="btn_Detalles" style="margin-left: 130px" onclick="goBack()"> Cancelar </button><form></center>

<script>
function setNewCenter(lat,lng){
   var center = new google.maps.LatLng(lat,lng);
    map.panTo(center);
}
var map;
	function initMap() {


        // Create a map object and specify the DOM element for display.
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.6130556, lng: -58.377222222 },
          scrollwheel: true,
          zoom: 10
        });
        {{#poi}}
        var marker = new google.maps.Marker({
          map: map,
          position: {lat: {{point.latitud}}, lng: {{point.longitud}} },
        });
        {{/poi}}
      }
    	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
			async defer></script>
			{{/partial}}
{{#partial "titulo"}}Edicion de POI{{/partial}}
{{#partial "imagen"}}img/Planetario_Galileo_Galilei_(3022933477).jpg{{/partial}}
{{> layoutAdmin.hbs }}
