{{#partial "contenido"}}
<br>
<br>
<br>
<t class="login_text" style="font-size:40px;margin-left:30px;font-weight:800 "><strong>Datos Principales:</strong></t><br>
    {{#POI}}
    
    <p style="margin-left:500px; font-size:20px"> <strong> Nombre: </strong> {{nombre}}</t>
    <p style="margin-left:500px; font-size:20px"> <strong> Tipo: </strong> {{tipo}}</t>
    <p style="margin-left:500px; font-size:20px">  <strong> Numero de comuna: </strong> {{#if point.domicilio.comuna}} {{point.domicilio.comuna}} {{else}} - {{/if}}</p>    
    <center><hr style="width:90%; height:2px; background-color:#e5e5e5; "></center>
    <t class="login_text" style="font-size:40px;margin-left:30px;font-weight:800"><strong>Direcci&oacute;n:</strong></t>
	<p style="margin-left:500px; font-size:20px; margin-bottom:20px"><strong> Calle Principal: </strong> {{point.domicilio.callePrincipal}}</p>
	<p style="margin-left:500px; font-size:20px; margin-bottom:20px"><strong> Altura: </strong> {{#if point.domicilio.altura}} {{point.domicilio.altura}} {{else}} - {{/if}}</p>
	<p style="margin-left:500px; font-size:20px; margin-bottom:20px"><strong> Entre calles: </strong> {{#if point.domicilio.entreCalles}} {{point.domicilio.entreCalles}} {{else}} - {{/if}}</p>
	<p style="margin-left:500px; font-size:20px; margin-bottom:20px"><strong> Piso: </strong> {{#if point.domicilio.piso}} {{point.domicilio.piso}} {{else}} - {{/if}}</p>
	<p style="margin-left:500px; font-size:20px; margin-bottom:20px"> <strong> Unidad: </strong> {{#if point.domicilio.unidad}} {{point.domicilio.unidad}} {{else}} - {{/if}}</p>
    <p style="margin-left:500px; font-size:20px; margin-bottom:20px">  <strong> Codigo postal: </strong>{{#if point.domicilio.codigoPostal}} {{point.domicilio.codigoPostal}} {{else}} - {{/if}}</p>  
    <p style="margin-left:500px; font-size:20px; margin-bottom:20px"> <strong> Ciudad: </strong> {{#if point.localidad.ciudad}} {{point.localidad.ciudad}}  {{else}} - {{/if}}</p>
    <p style="margin-left:500px; font-size:20px; margin-bottom:20px"> <strong> Provincia: </strong> {{#if point.localidad.provincia}} {{point.localidad.provincia}} {{else}} - {{/if}}</p>
    <p style="margin-left:500px; font-size:20px; margin-bottom:20px"> <strong> Pais: </strong>{{#if point.localidad.pais}} {{point.localidad.pais}}  {{else}} - {{/if}}</p>
 	<center>
 	<table>
 	<tr>
    <td><t class=" historial_tabla_textos" style="margin-right:100px"><strong>Dia</strong</t></td> <td>Desde</td> <td>Hasta</td>
    </tr>
    {{#if horario.agenda.tengoUnLunes}}
    <tr> 
    	<td>Lunes</td>
     	<td><input disabled  style="border: 0; background-color:#FDFCFC"  type="time" name="desde_lunes" value="{{horario.agenda.desdeLunes}}" ></td> 
     	<td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="hasta_lunes" value="{{horario.agenda.hastaLunes}}"></td>
     </tr>
     {{/if}}
     {{#if horario.agenda.tengoUnMartes}}
    <tr> 
    	
    	<td>Martes</td>
    	<td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="desde_martes" value="{{horario.agenda.desdeMartes}}"></td> 
    	<td><input type="time" disabled  style="border: 0; background-color:#FDFCFC"  name="hasta_martes" value="{{horario.agenda.hastaMartes}}"></td> 
	</tr>
	{{/if}}
	{{#if horario.agenda.tengoUnMiercoles}} 
    <tr>  
    <td> Miercoles</td>
     <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC"  name="desde_miercoles" value="{{horario.agenda.desdeMiercoles}}"></td> 
     <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="hasta_miercoles" value="{{horario.agenda.hastaMiercoles}}"></td> 
	</tr>
	{{/if}}
	{{#if horario.agenda.tengoUnJueves}}
    <tr> 
    <td> Jueves</td>
    <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="desde_jueves" value="{{horario.agenda.desdeJueves}}"></td> 
    <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="hasta_jueves" value="{{horario.agenda.hastaJueves}}"></td> 
	</tr>
	{{/if}}
	{{#if horario.agenda.tengoUnViernes}} 
    <tr>  
    <td>Viernes</td>
     <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="desde_viernes" value="{{horario.agenda.desdeViernes}}"></td> 
     <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="hasta_viernes" value="{{horario.agenda.hastaViernes}}"></td> 
	</tr>
	{{/if}}
	{{#if horario.agenda.tengoUnSabado}}
    <tr>
     <td>Sabado</td>
      <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="desde_sabado" value="{{horario.agenda.desdeSabado}}"></td> 
      <td><input type="time" name="hasta_sabado" value="{{horario.agenda.hastaSabado}}"></td> 
	</tr>
	{{/if}}
	{{#if horario.agenda.tengoUnDomingo}} 
    <tr>  
    <td>Domingo</td>
    <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="desde_domingo" value="{{horario.agenda.desdeDomingo}}"></td> 
    <td><input type="time" disabled  style="border: 0; background-color:#FDFCFC" name="hasta_domingo" value="{{horario.agenda.hastaDomingo}}"></td> 
	</tr>
	{{/if}}
 	</table>
  </center>
  <t class="login_text" style="font-size:40px;margin-left:30px;font-weight:800 "><strong>Feriados:</strong></t><br>
  {{#each feriados in POI}}
  
 <center> <ul><t>{{dia}} de  {{mesString}}</t></ul></center>
  {{/each}}
  
    {{/POI}}
	</center>
    <br>
    <button type="submit" onclick="goBack()" class="btn_Detalles" style="width:150px;margin-left:80%;margin-top:80px" > Atras </button>
{{/partial}}
{{#partial "titulo"}}Detalles del POI:  {{#POI}}{{nombre}}{{/POI}}{{/partial}}
{{#partial "imagen"}}img/Planetario_Galileo_Galilei_(3022933477).jpg{{/partial}}
{{> layoutAdmin.hbs}}
