
{{#partial "contenido"}}
<style>
.hoovereable:hover {
    background-color:#F5F5F5;
}
#vermas:hover {
    text-decoration:underline;
}
</style>

<form method="get" action="/usuarioBusqueda" id="myForm">
		<p class="login_text" style="color:#454545; margin-right:370px "><center>
<input type="text" style="border-radius:5px; width: 80% ;height:40px" name="nombreFiltro" placeholder="  &#191;Que POI quer&eacute;s buscar?">
<input type="submit" id="buscar" class="btn_Detalles" style="height:40px" value="Buscar" onclick="funcioncita()"></center></p>
</form>
	<table style ="padding-top:5px">
	 <td >
	<div style="overflow-y: auto; max-height: 500px; min-height:500px">
	{{#unless listadoPOIs}}<center><div id="loader" class="loader" style="display:none;margin-top:100"></div></center>{{/unless}}
	{{#listadoPOIs}}
	  <div id="{{id}}" class="hoovereable" style="height:100px">
	  <table>
	   <tr>
	   <td style="padding-top:10px">  <a href="/masDetallePoiUser?id={{id}}" style="text-decoration:none">
	   <t class="login_text" id="vermas" style="font-weight:400;font-size:25px">{{nombre}}</t></a></td>
	   </tr>
	   <tr>
		   <td><img src="img/localizacion.png" height="15px" style= "margin-left:10px;margin-bottom:-2px;"/><t class="login_text" style="color:#888;margin-left:10px;">{{point.domicilio.callePrincipal}} {{point.domicilio.altura}}</t></td>
		   </tr>
	   </table>
		</div>
	{{/listadoPOIs}}

	<center><button type="submit" id="ver_mas" class="btn_Detalles" formaction="/ver_mas" form="myForm">Ver mas</button></center>

	  </div>
	   </td>
	<td style="width: 50% ">
	<div id="map" style="height: 500px;  width: 1000px;"></div>
	</td>
	</table>
	<script>

function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: -34.6130556, lng: -58.377222222 },
				scrollwheel: false,
				zoom: 12
			});
			{{#listadoPOIs}}
			var contentString{{id}} = '<div id="content">'+
		'<div id="siteNotice">'+
		'</div>'+
		'<h1 id="firstHeading" class="firstHeading" style="font-size:15px">{{nombre}}</h1>'+
		'</div>';

			var marker{{id}} = new google.maps.Marker({
				map: map,
				position: {lat: {{point.latitud}} , lng: {{point.longitud}} }
			});
			var infowindow{{id}} = new google.maps.InfoWindow({
	content: contentString{{id}}
});
marker{{id}}.addListener('click', function() {
	infowindow{{id}}.open(map, marker{{id}});
});
	marker{{id}}.addListener('click', function() {
	infowindow{{id}}.open(map, marker{{id}});
});
$('#{{id}}').on('click',function() {
	 infowindow{{id}}.open(map, marker{{id}});
});
			{{/listadoPOIs}}
		}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
		async defer></script>
		{{/partial}}

{{#partial "usuario"}}{{nombreUsuario}}{{/partial}}
{{#partial "titulo"}}Buscador de POIS{{/partial}}
{{> layoutUser.hbs }}
