
{{#partial "contenido"}}
<style>
.hoovereable:hover {
    background-color:#F5F5F5;
}
</style>

<form method="get" action="/usuarioBusqueda" id="myForm">
		<p class="login_text" style="color:#454545; margin-right:370px "><center>
<input type="text" style="border-radius:5px; width: 80%" name="nombreFiltro" placeholder="  &#191;Que POI quer&eacute;s buscar?">
<input type="submit" id="buscar" class="btn_Detalles" value="Buscar"></center></p>
</form>

	<table style ="padding-top:5px">
	 <td >
	<div style="overflow-y: auto; max-height: 500px">
	{{#listadoPOIs}}
	  <div id="{{id}}" class="hoovereable" style="height:150px">
	  <center>
	  <table>
	   <tr>
	   <td style="padding-top:30px">
	   <t class="login_text">Nombre:</t><br>
	   </td>
	   <td style="padding-top:30px"><t class="login_text">{{nombre}}</t></td>
	   </tr>
	   <tr>
	   <td>
		<t class="login_text">Direccion:</t><br></td>
		   <td><t class="login_text">{{point.domicilio.callePrincipal}} {{point.domicilio.altura}}</t></td>
		   </tr>
	   </table>
	   <a href="/masDetallePoi?id={{id}}">
		<img src="img/ver_mas.png" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></a>
		<a href="/editar_poi?id={{id}}">
		</a>
		<a onClick="myFunction({{id}})"></a>
		</center>
		</div>
	{{/listadoPOIs}}
		{{#if listadoPOIs}}<center><button type="submit" id="ver_mas" class="btn_Detalles" formaction="/ver_mas" form="myForm">Ver mas</button></center>{{/if}}
	  </div>
	   </td>
	<td style="width: 50% ">
	<div id="map" style="height: 500px;  width: 1000px;"></div>
	</td>
	</table>
	<script>

function initMap() {


			// Create a map object and specify the DOM element for display.
			var map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: -34.6130556, lng: -58.377222222 },
				scrollwheel: false,
				zoom: 12
			});
			{{#listadoPOIs}}
			var contentString{{id}} = '<div id="content">'+
		'<div id="siteNotice">'+
		'</div>'+
		'<h1 id="firstHeading" class="firstHeading" style="font-size:15px">{{nombre}}</h1>'+
		'</div>';

			var marker{{id}} = new google.maps.Marker({
				map: map,
				position: {lat: {{point.latitud}} , lng: {{point.longitud}} }
			});
			var infowindow{{id}} = new google.maps.InfoWindow({
	content: contentString{{id}}
});
marker{{id}}.addListener('click', function() {
	infowindow{{id}}.open(map, marker{{id}});
});
	marker{{id}}.addListener('click', function() {
	infowindow{{id}}.open(map, marker{{id}});
});
$('#{{id}}').on('click',function() {
	 infowindow{{id}}.open(map, marker{{id}});
});
			{{/listadoPOIs}}
		}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
		async defer></script>
		{{/partial}}

{{#partial "titulo"}}Buscador de POIs{{/partial}}
{{> layoutUser.hbs }}
